* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.main {
  width: 100%;
  background-color: #FFFFFF;
}

.main_conteiner {
  padding-top: 88.49px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_conteiner .main_conteiner__first__sideRight {
  margin-left: 40.76px;
}

.main_conteiner .main_conteiner__first__sideLeft h1 {
  font-size: 312.5%;
}

.main_conteiner .main_conteiner__first__sideLeft p {
  font-size: 100%;
  color: #4F5665;
  margin-top: 20px;
}

.main_conteiner .main_conteiner__first__sideLeft button {
  width: 250px;
  height: 48px;
  margin-top: 50px;
  background: #FFFFFF;
  font-size: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main_conteiner .main_conteiner__first__sideLeft button:hover {
  background-color: #FD665E;
  border-radius: 10px;
  color: #ffffff;
  -webkit-box-shadow: 0px 10px 48px -10px #FD665E;
  box-shadow: 0px 10px 48px -10px #FD665E;
}

.main_conteiner_second {
  background-color: #FFFFFF;
  width: 1140px;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 103px;
  padding: 0 91px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 42px 48px -20px rosybrown;
  box-shadow: 0px 42px 48px -20px rosybrown;
}

.main_conteiner_second .main_conteiner__second__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_conteiner_second .main_conteiner__second__icons .main__icon_value {
  margin-left: 36.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_conteiner_second .main_conteiner__second__icons .main__icon_value h1 {
  font-size: 156.25%;
}

.main_conteiner_second .main_conteiner__second__icons .main__icon_value p {
  font-size: 125%;
  color: #4F5665;
}

.main_conteiner__three {
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 180px;
  padding-top: 88.49px;
}

.main_conteiner__three .main_conteiner__three__info {
  margin-left: 169.48px;
  margin-top: 60px;
}

.main_conteiner__three .main_conteiner__three__info h1 {
  font-size: 218.75%;
}

.main_conteiner__three .main_conteiner__three__info .info {
  margin-top: 20px;
  font-size: 100%;
  color: #4F5665;
}

.main_conteiner__three .main_conteiner__three__info .main_conteiner__three__info__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.main_conteiner__three .main_conteiner__three__info .main_conteiner__three__info__check p {
  margin-left: 10.08px;
  margin: 0 0;
  font-size: 87.5%;
  color: #4F5665;
}

.main_conteiner__choos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 211.46px;
}

.main_conteiner__choos h1 {
  font-size: 218.75%;
}

.main_conteiner__choos p {
  margin-top: 20px;
  font-size: 100%;
  text-align: center;
  color: #4F5665;
}

.main_conteiner__buy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

.main_conteiner__buy p {
  text-align: start;
}

.main_conteiner__buy .main_conteiner__buy__plan {
  width: 330px;
  height: 760px;
  margin-right: 50px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #DDDDDD;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card .first {
  margin-top: 30px;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card .first_img {
  margin-top: 79.63px;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card .second {
  margin-top: 130px;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card .thre {
  margin-top: 80px;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card .for {
  margin-top: 30px;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card button {
  width: 177.88px;
  height: 45px;
  margin-top: 20px;
  border: 2px solid #F53855;
  border-radius: 50px;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  color: #F53855;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main_conteiner__buy .main_conteiner__buy__plan .main_conteiner__buy__plan__card button:hover {
  background-color: #F53855;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 48px -10px #FD665E;
  box-shadow: 0px 10px 48px -10px #FD665E;
}

.plan_card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.plan_card__check p {
  margin-left: 20px;
  color: #4F5665;
  font-size: 87.5%;
}

.main_conteiner__buy__plan:hover {
  border-color: #F53855;
}

.main_conteiner_text {
  width: 100%;
  margin-top: 150px;
}

.main_conteiner_text .main_conteiner__text__on {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_conteiner_text .main_conteiner__text__on h1 {
  font-size: 218.75%;
  line-height: 55px;
  text-align: center;
}

.main_conteiner_text .main_conteiner__text__on p {
  margin-top: 20px;
  font-size: 100%;
  line-height: 35px;
  text-align: center;
  color: #4F5665;
}

.main_conteiner__map {
  margin-top: 155.81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_conteiner__group__img {
  width: 100%;
  margin-top: 6.45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFFFFF;
}

.main_conteiner__group__img img {
  margin-left: 59.84px;
}

.main_conteiner__group__img .first_img {
  margin-left: 375px;
}

.main_conteiner_coments {
  width: 100%;
  margin-top: 50px;
}

.main_conteiner_coments .main_conteiner__coments__text h1 {
  font-size: 218.75%;
  line-height: 55px;
  text-align: center;
}

.main_conteiner_coments .main_conteiner__coments__text p {
  margin-top: 20px;
  font-size: 100%;
  line-height: 35px;
  text-align: center;
  color: #4F5665;
}

.main_conteiner__coments__context {
  width: 1300px;
  height: 350px;
  margin-left: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.main_conteiner__coments__context .coments_conteiner {
  min-width: 400px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 10px;
  border-color: #DDDDDD;
  padding: 30px 30px;
  margin-right: 50px;
  margin-top: 60px;
}

.main_conteiner__coments__context .coments_conteiner:hover {
  border-color: #F53855;
}

.coments_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.coments_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 100px;
}

.coments_avatar .coments_username {
  margin-left: 20px;
}

.coments_avatar .coments_username h6 {
  font-size: 112.5%;
}

.coments_avatar .coments_username p {
  font-size: 87.5%;
  color: #4F5665;
}

.coments_grop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.coments_grop .group_mark {
  margin-right: 10px;
}

.coments_text {
  margin-top: 20px;
  font-size: 100%;
  line-height: 30px;
}

.buutton_prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #F53855;
  color: #F53855;
  background-color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.buutton_prev:hover {
  background-color: #F53855;
  color: #FFFFFF;
}

.button_next {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #F53855;
  color: #F53855;
  background-color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button_next:hover {
  background-color: #F53855;
  color: #FFFFFF;
}

.main__conteiner__coments__navigationGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main__conteiner__coments__navigationGroup .navigation_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_conteiner__coments__context::-webkit-scrollbar {
  width: 1px;
}

.main_sub {
  width: 100%;
}

.main_sub .main_sub__conteiner {
  width: 1140px;
  height: 233px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 10px;
  position: relative;
  top: 60px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.main_sub .main_sub__conteiner .sub_text h1 {
  font-size: 35px;
  line-height: 45px;
}

.main_sub .main_sub__conteiner .sub_text p {
  margin-top: 20px;
  font-size: 100%;
  color: #4F5665;
}

.main_sub .main_sub__conteiner button {
  width: 250px;
  height: 60px;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main_sub .main_sub__conteiner button:hover {
  background-color: #F53855;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 48px -10px #FD665E;
  box-shadow: 0px 10px 48px -10px #FD665E;
}

.navigation_point__active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F53855;
  position: relative;
  top: 16px;
  left: 0px;
}

footer {
  width: 100%;
  height: 563.12px;
  background-color: #F6F6F6;
}

.footer_conteiner {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.left_side {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left_side .logo {
  margin-left: -160px;
}

.left_side p {
  font-size: 100%;
  color: #4F5665;
  line-height: 30px;
  margin-top: 20px;
}

.left_side .social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-left: -150px;
}

.right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 180px;
}

.right_side a {
  color: #4F5665;
  margin-top: 20px;
  font-size: 100%;
}

.right_side h1 {
  font-size: 112.5%;
}

.right_side .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 126px;
}

.right_side .second {
  margin-right: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right_side .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body {
  background-color: #E5E5E5;
}

html {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
}

.header .header_conteiner {
  width: 1440px;
  height: 96px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header_conteiner .header_conteiner__group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header_conteiner .header_conteiner__group1 .header_conteiner__logo {
  display: block;
  margin-left: 150px;
}

.header .header_conteiner .header_conteiner__group1 .header_conteiner__logo .first {
  position: relative;
}

.header .header_conteiner .header_conteiner__group1 .header_conteiner__logo .second {
  position: relative;
  top: 16.37px;
  right: 39px;
}

.header .header_conteiner .header_conteiner__group1 .header_conteiner__nav {
  margin-left: 117px;
  text-decoration: none;
  color: #4F5665;
}

.header .header_conteiner .header_conteiner__group1 .header_conteiner__nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #4F5665;
  font-size: 100%;
}

.header .header_conteiner .header_conteiner__grop2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header .header_conteiner .header_conteiner__grop2 .header_conteiner__signin {
  margin-right: 16px;
}

.header .header_conteiner .header_conteiner__grop2 .header_conteiner__signin button {
  width: 150px;
  height: 45px;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  padding: 13px 45px;
  border: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .header_conteiner .header_conteiner__grop2 .header_conteiner__signin button:hover {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid;
  border-color: #F53855;
  color: #F53855;
}

.header .header_conteiner .header_conteiner__grop2 .header_cconteiner__signUp {
  margin-right: 150px;
}

.header .header_conteiner .header_conteiner__grop2 .header_cconteiner__signUp button {
  width: 150px;
  height: 45px;
  background-color: #FFFFFF;
  font-size: 100%;
  font-weight: bold;
  padding: 13px 45px;
  border: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .header_conteiner .header_conteiner__grop2 .header_cconteiner__signUp button:hover {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid;
  border-color: #F53855;
  color: #F53855;
}